@import "@styles/settings/_settings";

.inputBox {
    font-size: 14px;
    padding: 5px 8px 4px 8px;
    border-radius: 6px;
    border: 1px solid #666;
  }
  
  .calendarWrap {
    display: inline-block;
    position: fixed;
  }
  
  .calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #cccccc;
    z-index: 999;
  }

  .listtext{
    list-style-type: none;
    padding: 1px 10px;
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
    text-align:justify;
  }